#about {
  background-color: #dfdb10;
}
.jumbotron {
  padding: 3rem 3rem;
  background-color: #f10c0c;
}

#project {
  background-color: #dfdb10;
}
#kontak {
  background-color: #7ae2ba;
}

section {
  padding-top: 5rem;
}
